# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
htmlcov/
.hypothesis/

# Pyenv
.python-version

# Virtual environments
env/
venv/
ENV/
.venv/
venv.bak/
env.bak/

# VS Code and IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# PyCharm
/.idea/

# Jupyter
.ipynb_checkpoints

# Pipenv
Pipfile.lock

# mypy
.mypy_cache/

# pytest
.pytest_cache/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*~
.DS_Store
Thumbs.db
ehthumbs.db

# SQLite
*.sqlite3

# Environment files
.env
.env.*

# Windows
desktop.ini
$RECYCLE.BIN/

# Editor backup files
*~

#arquivos de saida
saida.txt
bfs_resultado.txt
componentes_resultado.txt
dfs_resultado.txt